<head>
    <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
</head>
<app-headerback></app-headerback>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img src="https://i.pinimg.com/564x/fb/2d/24/fb2d246435d85261c1c41b2d3b48207f.jpg" alt="">
            </div>
            <div class="col-md-6">
                <div class="container">
                    <div class="box1 pb-3">
                        <div class="row">
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-dark"><a routerLink="/home">
                                        << Back</a></button>
                            </div>
                            <div class="col-md-10">
                                <h5 class="mx-auto mt-2 text-light text-center">New Nurse</h5>
                            </div>
                        </div>
                        <form class="mt-5">
                            <div class="row my-4">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Your name">
                                </div>
                                <div class="col-md-6">
                                    <input type="tel" class="form-control" placeholder="Mobile Number ">
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-md-6">
                                    <input type="email" class="form-control" placeholder="Your Email">
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control" placeholder="Select Location">
                                        <option>Select City</option>
                                        <option>Indore</option>
                                        <option>Mumbai</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Job Title">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Hospital Name ">
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="No. of Years">
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control" placeholder="Select Category Type">
                                        <option>Gynecologist</option>
                                        <option>Psychologist</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="inputGroupFileAddon01">Resume</span>
                                        </div>
                                        <div class="custom-file">
                                          <input type="file" class="custom-file-input" id="inputGroupFile01"
                                            aria-describedby="inputGroupFileAddon01">
                                          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                        </div>
                                      </div>
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="inputGroupFileAddon01">Identity Proof</span>
                                        </div>
                                        <div class="custom-file">
                                          <input type="file" class="custom-file-input" id="inputGroupFile01"
                                            aria-describedby="inputGroupFileAddon01">
                                          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                        </div>
                                      </div>
                                </div>
                                <p class="ml-3 mt-2 text-danger">Aadhar Card</p>
                            </div>
                            <div class="row ">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="inputGroupFileAddon01">Qualification Proof</span>
                                        </div>
                                        <div class="custom-file">
                                          <input type="file" class="custom-file-input" id="inputGroupFile01"
                                            aria-describedby="inputGroupFileAddon01">
                                          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                        </div>
                                      </div>
                                </div>
                            </div>
                            <div class="row my-4 mybtn">
                                <button type="submit" class="btn btn-danger"><a
                                        routerLink="/nurseprofilecompleteness">Submit</a></button>
                            </div>
                        </form>
                        <div class="text-center">
                            <p class="mx-auto"><a routerLink="#"> Already Have an account?</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>