<app-header></app-header>

<head>
    <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
</head>
<div class="container-fluid text-center">
    <img src="https://i.pinimg.com/564x/97/77/46/977746a7d8247476a8078b6ba5daa1ec.jpg" style="width: 25%; ">
    <h5>How can we serve you</h5>
    <div class="row">
        <div class="col-md-4">
            <div class="target1">
                <p>I'm a looking to Hire Nurse</p>
                <button type="button" class="btn" routerLink="/customerdetails"
                    data-target="#exampleModal">SignUp</button><br>
                <button type="button" class="btn mt-4" routerLink="/customerlogin"
                    data-target="#exampleModal">Login</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="target1">
                <p>I'm a Nurse looking for work</p>
                <button type="button" class="btn" routerLink="/nursedetail"
                    data-target="#exampleModal">SignUp</button><br>
                <button type="button" class="btn mt-4" routerLink="/nurselogin"
                    data-target="#exampleModal">Login</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="target1">
                <p>I want to Collaborate with you</p>
                <button type="button" class="btn" routerLink="/agencyform"
                    data-target="#exampleModal">SignUp</button><br>
                <button type="button" class="btn mt-4" routerLink="/agencylogin"
                    data-target="#exampleModal">Login</button>
            </div>
        </div>

    </div>
</div>
<app-footerback></app-footerback>