<head>
    <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="container">
                    <div class="box1 pb-5">
                        <div class="row">
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary"><a routerLink="/requirements">
                                        << Back</a></button>
                            </div>
                            <div class="col-md-10">
                                <h6 class="mx-auto mt-2">Which Gender would you prefer?</h6>
                            </div>
                        </div>
                        <div class="gender mt-4">
                            <h4 class="text-center">Select Prefered Gender</h4>
                            <div class="row mt-5 ml-5">
                                <input type="radio">
                                <div class="col-md-6">
                                    <img src="https://i.pinimg.com/564x/fa/f8/ed/faf8ed85fc5c9d06f7ce5418949522a4.jpg" style="width: 50%;">
                                    <h5 class="ml-5 mt-3">Male</h5>
                                </div>
                                <input type="radio">
                                <div class="col-md-5">
                                    <img src="https://i.pinimg.com/564x/62/ab/7c/62ab7c4d33037a8c6022d4d65e7d3635.jpg" style="width: 60%;">
                                    <h5 class="ml-5 mt-3">Female</h5>
                                </div>
                            </div>
                            <div class="row mt-5 ml-5">
                                <input type="radio">
                                <div class="col-md-6">
                                    <img src="https://img.freepik.com/premium-vector/elbow-bump-nurse-cartoon-character_257245-65.jpg?w=740" style="width: 50%;">
                                    <h5 class="ml-5 mt-3">Any</h5>
                                </div>
                                <div class="col-md-5">
                                </div>
                            </div>
                            <div class="row mb-5" style="float:right;">
                                <button type="button"  class="btn btn-primary"><a routerLink="/customerdetails">Next>></a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container">
                    <img src="https://st2.depositphotos.com/1071184/5623/v/450/depositphotos_56233087-stock-illustration-doctor-nurse-concept-flat-icons.jpg"
                        style="width:100%;">
                </div>
            </div>

        </div>
    </div>
</body>