<head>
    <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<app-headerback></app-headerback>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="sidebar">
                <ul class="list-unstyled">
                    <li><a routerLink="/nurseprofilecompleteness">Profile</a></li>
                    <li><a routerLink="/patientrequest">Patient Request</a></li>
                    <li><a routerLink="#">Services Provided</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <div class="container">
                <div class="box1">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="https://i.pinimg.com/564x/29/9c/22/299c22aafba804b52bff4aaa118ef7a8.jpg"
                                style="width: 70%;">
                        </div>
                        <div class="col-md-8">
                            <label class="mb-1">Name : Leena Desouza</label><br>
                            <label class="mb-1">Mobile : 9876543210</label><br>
                            <label class="mb-1">Location : Indore</label><br>
                            <label class="mb-1">Experience : 10 Years</label><br>
                            <label class="mb-1">Speciality : Psychologist</label><br>
                            <label class="mb-1">Resume : </label><br>
                            <label class="mb-1">Qualification : </label><br>
                            <label class="mb-1">Indetification : </label><br>
                            <button class="btn btn-primary" routerLink="/updatenurseprofile">Edit Profile</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>