<head>
    <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
</head>
<app-headerback></app-headerback>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="container">
                    <div class="box1 pb-5">
                        <div class="row">
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-dark"><a routerLink="/customerdetails">
                                        << Back</a></button>
                            </div>
                            <div class="col-md-10">
                                <h5 class="mx-auto mt-2 text-light text-center">New Customer</h5>
                            </div>
                        </div>
                        <form class="mt-5">
                            <div class="row my-3">
                                <div class="col-md-12 ml-3 mr-3">
                                    <label >Care Type</label>
                                    <select class="form-control" placeholder="Select Care Type">
                                        <option>Cleaning</option>
                                        <option>Baby Sitting</option>
                                        <option>Elderly Care</option>
                                        <option>Clinical</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-md-12 ml-3 mr-3">
                                    <label >Urgency</label>
                                    <select class="form-control" placeholder="Select Urgency Type">
                                        <option>Urgent</option>
                                        <option>No So Urgent</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-md-12 ml-3 mr-3">
                                    <label >Gender</label>
                                    <select class="form-control" placeholder="Select Gender Type">
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>Any</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-md-12 ml-3 mr-3">
                                    <label >Religious</label>
                                    <select class="form-control" placeholder="Select Religious Type">
                                        <option>Hindu</option>
                                        <option>Momedian</option>
                                        <option>Jainism</option>
                                        <option>Christian</option>
                                        <option>Any</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-md-12 ml-3 mr-3">
                                    <label >No of Hours :</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                                        <label class="form-check-label" for="exampleRadios1">
                                          1 hour
                                        </label>
                                    </div>    
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                                        <label class="form-check-label" for="exampleRadios1">
                                          2 hours
                                        </label>
                                    </div>                                      
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                                        <label class="form-check-label" for="exampleRadios1">
                                          3 hours
                                        </label>
                                    </div>                                      
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                                        <label class="form-check-label" for="exampleRadios1">
                                          4 hours
                                        </label>
                                    </div>                                      
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                                        <label class="form-check-label" for="exampleRadios1">
                                          24 hour/Live-in
                                        </label>
                                    </div>                                              
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-md-12 ml-3 mr-3">
                                    <label >Category</label>
                                    <select class="form-control" placeholder="Select Category Type">
                                        <option>Gynecologist</option>
                                        <option>Psychologist</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>

                        </form>
                        <div class="text-center">
                            <button class="btn btn-primary" routerLink="/displaynurse">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="background-color: #15B2BF;">
                <div class="box">
                    <h2 class="mx-auto text-center text-light my-4">What do you want your Nurse to do ?</h2>
                    <div class="row mt-5">
                        <div class="col-md-6">
                            <div class="subbox1">
                                <img src="https://i.pinimg.com/564x/25/d9/f4/25d9f4963f341ad1e1d11db50f163614.jpg"
                                    style="width: 40%;">
                                <h2 class="mt-2">Cleaning</h2>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="subbox1">
                                <img src="https://img.freepik.com/premium-vector/cartoon-drawing-babysitter_29937-8109.jpg?w=740"
                                    style="width: 40%;">
                                <h2 class="mt-2">Baby Sitting</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-6">
                            <img src="https://as2.ftcdn.net/v2/jpg/03/08/92/85/1000_F_308928505_O9KFlZhbLpHxgX4gGzwTgveKEQcK5WbJ.jpg"
                                style="border-radius:90%; width:50%; margin-left: -30px;">
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-6">
                            <div class="subbox1">
\                                <img src="https://i.pinimg.com/564x/47/2f/b4/472fb4a840937a2fd53808b652505418.jpg"
                                    style="width: 50%;">
                                <h2 class="mt-2">Elderly Care</h2>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="subbox1">
                                <img src="https://i.pinimg.com/564x/7d/25/07/7d250736400c6e7a4c53abc41e94b788.jpg"
                                    style="width: 60%;">
                                <h2 class="mt-2">Clinical</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>