<head>
    <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<app-headerback></app-headerback>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="sidebar">
                <ul class="list-unstyled">
                    <li><a routerLink="/agencypatientrequest">Patient Request</a></li>
                    <li><a routerLink="/agencynursedetails">Nurses</a></li>
                    <li><a routerLink="/agencyaddnurse">Add Nurse</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <div class="container">
                <div class="box1">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table">
                                                <thead class="thead-dark">
                                                  <tr >
                                                    <th scope="col">#</th>
                                                    <th scope="col">Full Name</th>
                                                    <th scope="col">Address</th>
                                                    <th scope="col">Action</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr class="mt-5">
                                                    <th scope="row">1</th>
                                                    <td>Siya Johnson</td>
                                                    <td>Indore</td>
                                                    <td><button class="btn btn-success">Accept</button>
                                                    <button class="ml-3 btn btn-danger">Decline</button>
                                                    </td>
                                                  </tr>
                                                  
                                                </tbody>
                                              </table>
                                              
                                            
                                        </div>
                                    </div>
                            </div>
                        </div>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>