<head>
    <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<div class="container-fluid footer">
<div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>EXPLORERES</h3>
        <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sapiente dolores remnatus libero nobis possimus eos eius ut!</p>   
      </div>  
      <div class="col-md-4">
        <h3>Quick Links</h3>
        <ul class="list list-unstyled mt-4">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
      </div>  
      <div class="col-md-4">
        <h3>Get in Touch</h3>
        <ul class="social list-unstyled d-flex mt-4">
            <li><a href="#" class="fa fa-facebook mx-3"></a></li>
            <li><a href="#" class="fa fa-twitter mx-3"></a></li>
            <li><a href="#" class="fa fa-instagram mx-3"></a></li>
        </ul>
      </div>  
    </div>
</div>
</div>
<footer class="mt-3">
    <p class="text-center bg-dark text-light py-2">All Copyright @2022</p>
</footer>