<head>
    <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
</head>
<app-headerback></app-headerback>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img src="https://img.freepik.com/free-vector/people-walking-sitting-hospital-building-city-clinic-glass-exterior-flat-vector-illustration-medical-help-emergency-architecture-healthcare-concept_74855-10130.jpg?w=1060&t=st=1662268872~exp=1662269472~hmac=2c75e30ad6a013e6db3324eb819c8262de5ffb6f0c3aa53876c52c967e66f79b" style="width: 100%;">
            </div>
            <div class="col-md-6">
                <div class="container">
                    <div class="box1 pb-3">
                        <div class="row">
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-dark"><a routerLink="/home">
                                        << Back</a></button>
                            </div>
                            <div class="col-md-10">
                                <h5 class="mx-auto mt-2 text-light text-center">New Agency / Hospital</h5>
                            </div>
                        </div>
                        <form class="mt-5">
                            <div class="row my-4">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Agency/Hospital name">
                                </div>
                                <div class="col-md-6">
                                    <input type="tel" class="form-control" placeholder="Mobile Number ">
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-md-6">
                                    <input type="email" class="form-control" placeholder="Your Email">
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control" placeholder="Select City">
                                        <option>Select City</option>
                                        <option>Indore</option>
                                        <option>Mumbai</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Designation">
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Reason For Contacting">
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col-md-12">
                                    <label>Hospital/Agency/Institute Details :</label><br>
                                    <textarea rows="5" cols="64"></textarea>
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col-md-12">
                                    <label>Message :</label><br>
                                    <textarea rows="5" cols="64"></textarea>
                                </div>
                            </div>
                            <div class="row my-4 mybtn">
                                <button type="submit" class="btn btn-danger"><a
                                        routerLink="/agencypatientrequest">Submit</a></button>
                            </div>
                        </form>
                        <div class="text-center">
                            <p class="mx-auto"><a routerLink="#"> Already Have an account?</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>